:root {
    --green-side: #556137;
    --green-main: #f1fcee;
    --green-box: #a6b59e;
    --green-hf: #7c9461;
}

body {
    margin: 0 auto;
    background-color: var(--green-main);
}

.menu-wrap {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 4;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .backdrop {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu-wrap .burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .burger > div {
    position: relative;
    height: 2px;
    width: 80%;
    background-color: var(--green-side);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .burger > div::before {
    content: '';
    position: absolute;
    z-index: 4;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background-color: var(--green-hf);
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .toggler:checked + .burger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .burger > div::before {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .backdrop {
    display: block;
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: translateX(0);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

li {
    list-style: none;
    color: var(--green-side);
    padding: 1rem;
}

a {
    color: var(--green-side);
    text-decoration: none;
    transition: color 0.4s ease;
}

main {
    margin: 10px auto;
    text-align: center;
    position: relative;
}

.slider-cta {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}

.slider-outer {
    margin: 0 15rem;
    position: relative;
}

.slider-outer .btn {
    font-size: 2rem;
    font-weight: bold;
    height: 5rem;
    line-height: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.1s;
    user-select: none;
    width: 2.5rem;
    z-index: 0;
}

.slider-outer .btn .btn-label {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: -1;
}

.slider-outer .btn-left {
    left: 0.5rem;
    z-index: 1;
}

.slider-outer .btn-right {
    right: 0.5rem;
    z-index: 1;
}

.slider-outer [type='radio'] {
    display: none;
}

@media screen and (max-width: 100rem) {
    .slider-outer {
        margin: 0 10rem;
    }
}

@media screen and (max-width: 81.25rem) {
    .slider-outer {
        margin: 0 5rem;
    }
}

@media screen and (max-width: 62.5rem) {
    .slider-outer {
        margin: 0;
    }
}

.label-bars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.label-bars-container .label-bar {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--green-box);
    margin: 10px 10px;
}

.label-bars-container .label-bar:last-of-type {
    margin: 10px;
}

.slide1:checked ~ .slider-visible .slider-cta {
    transform: translateX(0);
}

.slide1:checked ~ .label-bars-container .label-bar[for='slide1'] {
    background-color: var(--green-side);
}

.slide1:checked ~ .btn-left .btn-label-left[for='slide4'] {
    z-index: 1;
}

.slide1:checked ~ .btn-right .btn-label-right[for='slide2'] {
    z-index: 1;
}

.slide2:checked ~ .slider-visible .slider-cta {
    transform: translateX(-25%);
}

.slide2:checked ~ .label-bars-container .label-bar[for='slide2'] {
    background-color: var(--green-side);
}

.slide2:checked ~ .btn-left .btn-label-left[for='slide1'] {
    z-index: 1;
}

.slide2:checked ~ .btn-right .btn-label-right[for='slide3'] {
    z-index: 1;
}

.slide3:checked ~ .slider-visible .slider-cta {
    transform: translateX(-50%);
}

.slide3:checked ~ .label-bars-container .label-bar[for='slide3'] {
    background-color: var(--green-side);
}

.slide3:checked ~ .btn-left .btn-label-left[for='slide2'] {
    z-index: 1;
}

.slide3:checked ~ .btn-right .btn-label-right[for='slide4'] {
    z-index: 1;
}

.slide4:checked ~ .slider-visible .slider-cta {
    transform: translateX(-75%);
}

.slide4:checked ~ .label-bars-container .label-bar[for='slide4'] {
    background-color: var(--green-side);
}

.slide4:checked ~ .btn-left .btn-label-left[for='slide3'] {
    z-index: 1;
}

.slide4:checked ~ .btn-right .btn-label-right[for='slide1'] {
    z-index: 1;
}

.swipe-cta {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 70%;
}

.swipe-cta span {
    font-size: 2rem;
}

.slider-visible {
    height: 40rem;
    overflow-x: hidden;
    position: relative;
}

.slider {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1s;
    width: 400%;
}

.slider .slide {
    flex: 1 1;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.slider .slide:nth-of-type(1) {
    background-image: url('/images/1.jpg');
}

.slider .slide:nth-of-type(2) {
    background-image: url('/images/2.jpg');
}

.slider .slide:nth-of-type(3) {
    background-image: url('/images/3.jpg');
}

.slider .slide:nth-of-type(4) {
    background-image: url('/images/4.jpg');
}

@keyframes burger-menu-translation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
